<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Music Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/icon.png">
    <link href="{{ url_for('static', filename='css/main-page-style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/modes-style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/progress-bar.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body class="css-selector">
<div class="context">
    <h1>Угадай трек за 30 секунд</h1>
    <h1>Жанр: {{ genre.genre }}</h1>

    <h1 id="gameResult"></h1>
</div>
<div>
    <a  href="{{ url_for('index') }}" class="button-back">
        <div class="button-content">
            <p>Вернуться на главную</p>
        </div>
    </a>
</div>


<div>
    <a onclick="playNext()" class="button-next" id="next">
        <div class="button-content">
            <p>Дальше</p>
        </div>
    </a>
</div>



<div class="progress-bar">
  <span class="bar">
    <span class="progress" id="progress"></span>
  </span>
</div>

<div style="display: grid;justify-content: center;">
<div class="buttons">

    <a class="button" onclick="validateClick(0)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>

    <a class="button" onclick="validateClick(1)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>
</div>

<div class="buttons">
    <a class="button" onclick="validateClick(2)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>

    <a class="button" onclick="validateClick(3)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>
</div>
</div>


<script>
    let startPath = "{{ url_for('static', filename='music/') }}";
    let genreId = "{{ genre.id }}";
</script>
<script src="{{ url_for('static', filename='js/clickHandler.js') }}"></script>
<script>
    let tiles = [];
    let allSongs = [];
    getAllSongs();
    let currSong = -1;
    const audio = [];
    let rightIndex = -1;
    let wins = 0;
    let isAudio = true;
</script>

</body>
</html>