<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Music Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/icon.png">
    <link href="{{ url_for('static', filename='css/main-page-style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/modes-style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body class="css-selector">
<div class="context">
    <h1>Угадай трек по тексту</h1>
    <h1>Жанр: {{ genre.genre }}</h1>
    <h1 id="gameResult"></h1>
</div>

<div style="display: flex; justify-content: center;">
    <div class="text-div">
        Тэкстик
    </div>
</div>

<div>
    <a  href="{{ url_for('index') }}" class="button-back" id="">
        <div class="button-content">
            <p>Вернуться на главную</p>
        </div>
    </a>
</div>

<div>
    <a  href="{{ url_for('game', mode='text_mode', genre_id=genre.id, songInd=songInd+1) }}" class="button-next" id="next">
        <div class="button-content">
            <p>Дальше</p>
        </div>
    </a>
</div>

<div style="display: grid;justify-content: center;">
<div class="buttons">

    <a class="button" onclick="validateClick(0)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>

    <a class="button" onclick="validateClick(1)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>
</div>

<div class="buttons">
    <a class="button" onclick="validateClick(2)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>

    <a class="button" onclick="validateClick(3)">
      <div class="smth-content">
        <p></p>
        <p></p>
      </div>
    </a>
</div>
</div>

<script>
    let startPath = "{{ url_for('static', filename='music/') }}";
    let genreId = "{{ genre.id }}";
</script>
<script src="{{ url_for('static', filename='js/clickHandler.js') }}"></script>
<script>
    let tiles = [];
    let allSongs = [];
    getAllSongs();
    let currSong = -1;
    const audio = [];
    let rightIndex = -1;
    let wins = 0;
    let isAudio = false;
</script>

</body>
</html>